#main_logo{
    width: 300px;
    height: 100px;
}

.logo{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    #img_sign{
        position: scroll;
        white-space: nowrap;
        margin-top: 80px;
        margin-left: -65px;
        font-size: 16px;
        color: #4487f6;
        font: 16px/16px roboto-regular, arial, sans-serif;
    }
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 10px;
    flex-wrap: wrap;
    ul{
        list-style: none;
        margin: 10;
        li{
            display: inline-block;
            padding-right: 10px;
            a{
                display: inline-block;
                text-decoration: none;
                color: rgb(49, 47, 47);
                &:hover{
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
    }
}

form.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    }

input#input_search{
    width: 600px;
    border-radius: 20px;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 10px;
}

//for advanced search
#adv_search_logo{
    margin: 10px;
    width: 90px;
    height: 30px;
}

#adv_search_label{
    color: rgb(235, 8, 8);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
}

form.adv_search_form{
    margin-top: 50px;
    margin-left: 20px;
    #adv_search_btn{
        margin-left: 575px;
        margin-right: 20%;
        padding: 9px 14px;
        font-size: .7em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: #4988eb;
        border-radius: 2px;
        color: #fff;
        background-color: #4988eb;
        margin-top: 20px;
    }
}

div.container-parent{
    display: flex;
    margin: .7rem;
    .adv_search_input{
        width: 500px;
        height: 1.3rem;
        color: rgb(195, 190, 190);
    }
}

div.container-child{
    white-space: nowrap;
    width: 180px;
    display: flex;
    align-items: center;
    .adv_search_q{
        font-size: 13px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

form #adv_search_ls{
    margin: .7rem;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

hr{
    border: .5px solid rgb(225, 219, 219);
}

//for responsive web code

@media screen and (max-width: 760px) {
    #main_logo{
        margin-top: 0px;
        transition: all;
    }
    .logo{
        #img_sign{
            position: scroll;
            margin-top: 80px;
            margin-left: -60px;
            font-size: 8px;
            color: #4487f6;
            font: 16px/16px roboto-regular, arial, sans-serif;
        }
}
    form.main_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        #input_search{
            width: 400px;
            border-radius: 20px;
            border: 1px solid grey;
            padding: 10px;
            transition: width linear 1s;
        }
        #input_btn{
            margin-top: 10px;
            width: 120px;
            border-radius: 10px;
            border: 1px solid grey;
            padding: 3px;
        }
    }
}

